<h1 class="text-center">Dashboard</h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#offer" aria-controls="offer" role="tab" data-toggle="tab">My Items</a></li>
    <li role="presentation"><a href="#travelers" aria-controls="travelers" role="tab" data-toggle="tab">Mes achats</a></li>
    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Mes ventes</a></li>
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="offer">
      <% @items.each do |item| %>
      <%= render 'shared/card_result', item: item %>
      <% end %>
    </div>

    <!-- Mes achats -->
    <div role="tabpanel" class="tab-pane" id="travelers">
      <% @bookings.each do |booking| %>
        <%= render 'shared/card_dashboard', booking: booking %>
      <% end %>
    </div>

    <!-- Mes ventes -->
    <div role="tabpanel" class="tab-pane" id="bookings">
      <% @sales.each do |sale| %>
        <%= render 'shared/card_dashboard', booking: sale %>
      <% end %>

    </div>
    <div role="tabpanel" class="tab-pane" id="edit">
      <%= render "devise/registrations/edit", resource_name: :user, resource: current_user, devise_mapping: nil %>
    </div>
  </div>

</div>
