<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#offer" aria-controls="offer" role="tab" data-toggle="tab">My offer</a></li>
    <li role="presentation"><a href="#travelers" aria-controls="travelers" role="tab" data-toggle="tab">My travelers</a></li>
    <li role="presentation"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">My bookings</a></li>
    <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="offer">
    </div>
    <div role="tabpanel" class="tab-pane" id="travelers">You</div>
    <div role="tabpanel" class="tab-pane" id="bookings">Mince alors</div>
    <div role="tabpanel" class="tab-pane" id="edit">Test</div>
  </div>

</div>
