<h1> Hi <%= @booking.item.owner.first_name %>, your have a new booking request</h1>

<%= @booking.customer.first_name %> loved <%= @booking.item.title %> and asked to book it.

Please click here => TODO

to confirm or decline the booking

See ya!
