<header>
  <div class="content">
    <hgroup>
      <h1>Access luxury for a day</h1>
      <h2>Rent jewelry, watches and bags from the best designers</h2>
      <%= simple_form_for :search,  url: items_path, class: "form-inline", :method => :get do |f| %>
      <%= f.input :category, label: false, class: "form-control", collection: [ "Watch", "Jewels", "Handbag"], prompt: "Select the lurury item of your choice"  %>
      <%= f.button :submit, value: "Search", class: "btn btn-success" %>
      <% end %>
    </hgroup>
  </div>
  <div class="overlay"></div>
</header>
<section class="site">
</section>
