<header>
  <div class="content">
    <hgroup>
      <h1>Hello.</h1>
      <h2>I’m a freaking startup.</h2>
    </hgroup>
  </div>
  <div class="overlay"></div>
</header>
<section class="site">
  Created by <a href="http://sallar.me" target="_blank">Sallar Kaboli</a>.<br><a href="http://sallar.mit-license.org/" target="_blank">MIT Licensed</a>.
</section>
