.request-form, .search-form {
  border: 1px solid #D0CECE;
  background-color: white;
  widht: 300px;
  padding: 20px 10px;
  text-align: center;
}

.search-form {
  margin-top: 98px;
  border-radius: 5px;
}

.form-pic {

}


// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
