.request-form, .search-form {
  border: 1px solid #D0CECE;
  background-color: white;
  widht: 300px;
  padding: 20px 10px;
  text-align: center;
}

.search-form {
  margin-top: 98px;
  border-radius: 5px;
}

.request-form {
  height: 335px;
}


.show-pic {
    max-width: auto;
    height: 335px;
}

.img-show {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.listing {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.block-img {
  padding-left: 0px;
  padding-right: 15px;
}

// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
