.dashboard-pic {
  position: relative;
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
  width: 345px;
}

.vignette {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.card-dashboard {
  position: relative;
  height: 216px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
  width: 345px;
}
.card-bg-dashboard {
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.img-dash {
  height: 216px;
}

.change-status {
  margin-top: 28px;
}

.dashboard-title {
  margin-bottom: 55px;
  text-align: center;
}
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
